<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

<table>
  <tr>
    <td><%= @restaurant.name %></td>
    <td><%= @restaurant.category.capitalize %></td>
    <td><%= @restaurant.address %></td>
  </tr>
</table>

<div class="container col-4">
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: (0..5).to_a %>
    <%= f.submit "Create new review", class: "btn btn-primary mt-3" %>
  <% end %>
</div>

<table>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.content %></td>
      <td><%= review.rating %></td>
    </tr>
  <% end %>
</table>




<p><%= link_to 'Back to all restaurants', restaurants_path %></p>
